.todo-item {
  color: #eee;
  display: flex;
  margin: 1rem 0;
  border: 0.1rem solid lighten(#2c3e50, 20%);
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: relative;

  &__name {
    text-transform: capitalize;
    font-size: 1.9rem;
    text-shadow: 0rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  &__time {
    font-size: 1rem;
    font-style: italic;
    margin-top: 1rem;
    color: #ccc;
    text-shadow: 0rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
  }

  &__delete,
  &__edit,
  &__done {
    font-size: 2.5rem;
    background: none;
    outline: none;
    border: 0;
    cursor: pointer;
    color: lighten(#2c3e50, 20%);
    transition: color 0.3s ease-in-out, transform 0.2s ease;
    &:hover {
      transform: translateY(-0.1rem);
    }
    &:active {
      transform: translateY(0.1rem);
    }
  }

  &__delete {
    &:hover {
      color: #e74c3c;
    }
  }

  &__done {
    margin-left: auto;
    margin-right: 1rem;
    font-size: 3.2rem;
    &:hover {
      color: #27ae60;
    }
  }
  &__edit {
    margin-right: 1rem;
    &:hover {
      color: #3498db;
    }
  }
}

.todo-item--complete {
  opacity: 0.5;
  .todo-item__done--disapled {
    opacity: 1;
    color: #27ae60;
    opacity: 1;
  }
  .todo-item__text {
    position: relative;
  }
  .todo-item__text::after {
    content: "";
    background: #e74c3c;
    width: 115%;
    height: 0.3rem;
    position: absolute;
    top: 24%;
    left: -5px;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
  }
}
