.todo-list {
  margin: 2rem 0;
  border: 0.1rem solid lighten(#2c3e50, 20%);
  box-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.2);
  background: #2c3e50;
  padding: 1rem;

  &__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid #ccc;
    align-items: center;
    margin-bottom: 2rem;
  }
  &__title {
    font-weight: 400;
    color: #ccc;
    margin-bottom: 1rem;
    font-size: 2.4rem;
    text-shadow: 0rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
  }

  &__remove-all {
    background: none;
    color: #ccc;
    padding-bottom: 0.2rem;
    border: none;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    outline: none;
    transition: all 0.1s ease;
    text-shadow: 0rem 1rem 0.5rem rgba(0, 0, 0, 0.2);

    &:hover {
      color: lighten(#e74c3c, 20%);
      border-bottom: 1px solid #e74c3c;
    }

    &:active {
      transform: translateY(0.1rem);
    }
  }

  &__text {
    color: #ccc;
    padding: 1rem 0;
    opacity: 0.2;
    margin: 2rem 0;
    text-align: center;
    font-size: 2rem;
  }

  &__data {
    margin-top: 3rem;
    display: flex;

    button {
      background: none;
      outline: none;
      border: 0;
      color: #ccc;
      font-size: 1.1rem;
      letter-spacing: 0.05rem;
      text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
      font-style: italic;
      cursor: pointer;
      padding-bottom: 0.2rem;
      transition: color 0.1s linear;
    }

    &-1 {
      &:hover {
        color: #3498db;
      }
    }

    &-3 {
      &:hover {
        color: #e74c3c;
      }
    }
    &-2 {
      margin-left: auto;
      margin-right: 2rem;
      &:hover {
        color: #27ae60;
      }
    }
  }
}
