.footer {
  position: relative;
  height: 30vh;
  background-image: url("../../assets/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__data {
    color: #fff;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
  }
}
